@model LegoasAssignment.Models.ViewModels.AddUserViewModel
@{

}

<div class="col-md-6 offset-md-3">
    <h1>Registration</h1>
    <form method="post" asp-action="Add" class="mt-5">
        <div class="mb-3">
            <label for="Fullname" class="form-label">Fullname</label>
            <input type="text" class="form-control" asp-for="Fullname" placeholder="Enter Fullname">
            <span class="text-danger" asp-validation-for="Fullname"></span>
        </div>
        <div class="mb-3">
            <label for="Username" class="form-label">Username</label>
            <input type="text" class="form-control" asp-for="Username" placeholder="Enter Username">
            <span class="text-danger" asp-validation-for="Username"></span>
        </div>
        <div class="mb-3">
            <label for="Address" class="form-label">Address</label>
            <input type="text" class="form-control" asp-for="Address" placeholder="Enter Address">
        </div>
        <div class="mb-3">
            <label for="ZipCode" class="form-label">Zip Code</label>
            <input type="text" class="form-control" asp-for="ZipCode" placeholder="Enter Zip Code">
        </div>
        <div class="mb-3">
            <label for="Province" class="form-label">Province</label>
            <input type="text" class="form-control" asp-for="Province" placeholder="Enter Province">
        </div>
        @*<div class="mb-3">
        <label class="form-label">Select Branch</label>
        <select class="form-select" asp-items="Model.BranchesSelectList"></select>
        </div>*@
        <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <input type="password" class="form-control" asp-for="Password" placeholder="Enter Password">
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="mb-3">
            <label for="ConfirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Re-enter Password">
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
        <a class="btn btn-secondary" href="/Users/Login">Login</a>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }